.idea
*.pyc
Vagrantfile
.vagrant
bootstrap.sh
launch.json
settings.json
tests/create_scene_testing_Fresnel-3.py
tests/exec_test_Fresnel_Wavelength.py
tests/freecad_script.py
create_scene_testing_Fresnel-3.py
kk.txt
docs/build
dist
old_tests
build
pySunScene.egg-info
.pytest_cache
OTSun.egg-info
dummy
doc
